---
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutMe from "../components/sections/AboutMe.astro";
import TypeWriter from "../components/TypeWriter.astro";
import profileImage from "../assets/chad_profile.jpg";
import { getCollection } from "astro:content";
import BlogSlider from "../components/BlogSlider.astro";
import Icon from "../components/Icon.astro";
import { buttonVariants } from "@/components/ui/button";
import { ModeToggle } from "@/components/ModeToggle";
import { Image } from "astro:assets";
import ProfileImage from "@/components/ProfileImage.astro";
import { Separator } from "@/components/ui/separator";
import HorizontalCard from "@/components/HorizontalCard.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const currentYear = new Date().getFullYear();
const age = currentYear - 1989;
const grayscale = Math.min(age, 100);

const last_posts = posts;
---

<BaseLayout sideBarActiveItemID="home">
  <div class="grid grid-cols-[80px_1.5fr_minmax(80px,_.5fr)] gap-y-4 gap-x-5 md:grid-cols-[1fr_minmax(330px,_700px)_minmax(300px,_600px)_2fr] grid-rows-[80px_40px_300px] md:grid-rows-[40px_30px_minmax(200px,_360px)_minmax(100px,_120px)] md:gap-x-10 mt-10 pb-10">
    <h1 class="text-3xl font-bold row-span-1 md:col-span-1 md:col-start-2 pt-4 md:pt-0 sm:text-5xl">Chad Gauthier</h1>
    <!-- <div class="col-start-2 col-span-1 md:col-span-2 md:col-start-2">
      <div class="aurora">
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
        <div class="aurora__item"></div>
      </div>
    </div> -->
    <div class="row-start-1 max-h-72 col-start-1 md:row-start-3 md:col-start-3 md:col-end-4 mx-auto">
      <ProfileImage
        profileImage={profileImage}
        altText="closeup of Chad Gauthier in a Japanese park"
        class="row-start-2"
      />
    </div>
      <AboutMe className="w-full h-full row-start-3 row-span-2 col-start-1 col-end-4 md:col-start-2 md:col-end-3" />
      <TypeWriter className="col-start-1 col-end-3 md:col-start-2 md:col-span-2 row-start-2 pl-3">
        <p>Full-stack software engineering is my passion and expertise</p>
        <p>I bring over a decade of exceptional career experience</p>
        <p>I embrace change and push beyond artificial boundaries</p>
        <p>Passionate about creating intuitive and human-centric designs</p>
        <p>Transforming code into beautiful and meaningful art</p>
        <p>Dedicated to continuous improvement and learning</p>
        <p>Thriving on solving complex and challenging problems</p>
        <p>Committed to mentoring and sharing knowledge for growth</p>
        <p>Making a positive impact through technology</p>
      </TypeWriter>
      <div class="row-start-1 row-span-1 col-start-3 md:col-start-3 md:row-start-4 m:w-48 md:mx-auto">
        <div class="space-y-1 hidden md:block">
          <h4 class="text-sm font-medium leading-none">Get In Touch</h4>
          <p class="text-sm text-muted-foreground">
            Socials and Source Code
          </p>
        </div>
        <Separator className="my-4 hidden md:block" />
        <div class="flex h-5 flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-4 text-sm">
          <a
            class={buttonVariants({ size: "lg", variant: "full" })}
            href="https://www.linkedin.com/in/chadgauth/"
            target="_blank"><Icon name="linkedin" /></a
          >
          <Separator orientation="vertical" className="hidden md:block" />
          <Separator orientation="horizontal" className="block md:hidden" />
          <a
            class={buttonVariants({ size: "lg", variant: "outline" })}
            href="https://github.com/chadgauth/portfolio"
            target="_blank">Source</a
          >
        </div>
      </div>
      <div class="flex justify-center align-middle pt-10 row-start-5 col-span-3 md:row-start-5 md:col-start-2 md:col-span-3 lg:col-start-3 sm:pl-0 md:max-w-xl xl:pl-20">
        <BlogSlider last_posts={last_posts} />
      </div>
  </div>
  
  
  <!-- <div class="border-primary-800 flex-grow">
    <div class="p-5 pt-1 lg:max-w-[1024px] max-w-[100vw] mx-auto px-5"></div>
    <div class="lg:max-w-[900px] max-w-[100vw] mx-auto">
      {
    last_posts.map((post, index) => (
      <>
        <HorizontalCard
          title={post.data.title}
          subtitle={post.data.subtitle}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        {index < last_posts.length - 1 && <div class="divider my-0" />}
      </>
    ))
  }
    </div>
  </div> -->
</BaseLayout>

<style>
  /* :root {
  --bg: theme('colors.primary.DEFAULT');
  --clr-1: theme('colors.text.200');
  --clr-2: theme('colors.accent.300');
  --clr-3: theme('colors.primary.200');
  --clr-4: theme('colors.background.300');

  --blur: .75rem;
} */

  .glow {
    filter: drop-shadow(0 0 75px lch(var(--accent-700) / 0.25));
  }

  .image-container {
    position: relative;
    overflow: hidden;
  }

  .image-container::before {
    width: 100%;
    height: 100%;
    background-color: hsl(
      129,
      37%,
      33%
    ); /* Change this to your desired color */
    opacity: 1;
    transition:
      opacity 0.3s ease,
      filter 0.3s ease;
  }

  .image-container:hover::before {
    opacity: 0;
  }

  .profile-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.89;
    transition: all 0.3s ease;
  }

  .typewrite {
    min-height: 3.4em;
  }

  @media (max-width: 768px) {
    .profile-image {
      object-position: left;
    }
  }

  @media (min-width: 768px) {
    .typewrite {
      min-height: 1.6em;
      padding-top: 0.2em;
    }
  }

  .image-container:hover .profile-image {
    filter: grayscale(0) !important;
    opacity: 1;
  }

  .title {
    position: relative;
    overflow: hidden;
    background: var(--bg);
    margin: 0;
  }

  .aurora {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    mix-blend-mode: darken;
    pointer-events: none;
  }

  .aurora__item {
    overflow: hidden;
    position: absolute;
    width: 340px;
    height: 100px;
    background-color: var(--clr-1);
    border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    filter: blur(var(--blur));
    mix-blend-mode: overlay;
  }

  .aurora__item:nth-of-type(1) {
    top: -50%;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-1 12s ease-in-out infinite alternate;
  }

  .aurora__item:nth-of-type(2) {
    background-color: var(--clr-3);
    right: 0;
    top: 0;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-2 12s ease-in-out infinite alternate;
  }

  .aurora__item:nth-of-type(3) {
    background-color: var(--clr-2);
    left: 0;
    bottom: 0;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-3 8s ease-in-out infinite alternate;
  }

  .aurora__item:nth-of-type(4) {
    background-color: var(--clr-4);
    right: 0;
    bottom: -50%;
    animation:
      aurora-border 6s ease-in-out infinite,
      aurora-4 24s ease-in-out infinite alternate;
  }

  /* For the text content */
  .about-me-content {
    position: relative; /* Ensure the text is above the pseudo-elements */
    z-index: 1;
  }

  @keyframes aurora-1 {
    0% {
      top: 0;
      right: 0;
    }

    50% {
      top: 100%;
      right: 75%;
    }

    75% {
      top: 100%;
      right: 25%;
    }

    100% {
      top: 0;
      right: 0;
    }
  }

  @keyframes aurora-2 {
    0% {
      top: -50%;
      left: 0%;
    }

    60% {
      top: 100%;
      left: 75%;
    }

    85% {
      top: 100%;
      left: 25%;
    }

    100% {
      top: -50%;
      left: 0%;
    }
  }

  @keyframes aurora-3 {
    0% {
      bottom: 0;
      left: 0;
    }

    40% {
      bottom: 100%;
      left: 75%;
    }

    65% {
      bottom: 40%;
      left: 50%;
    }

    100% {
      bottom: 0;
      left: 0;
    }
  }

  @keyframes aurora-4 {
    0% {
      bottom: -50%;
      right: 0;
    }

    50% {
      bottom: 0%;
      right: 40%;
    }

    90% {
      bottom: 50%;
      right: 25%;
    }

    100% {
      bottom: -50%;
      right: 0;
    }
  }

  @keyframes aurora-border {
    0% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }

    25% {
      border-radius: 47% 29% 39% 49% / 61% 19% 66% 26%;
    }

    50% {
      border-radius: 57% 23% 47% 72% / 63% 17% 66% 33%;
    }

    75% {
      border-radius: 28% 49% 29% 100% / 93% 20% 64% 25%;
    }

    100% {
      border-radius: 37% 29% 27% 27% / 28% 25% 41% 37%;
    }
  }
</style>

<script>
  function sendEmail() {
    console.log("email");
    var user = "chadgauth";
    var domain = "gmail.com";
    window.location.href = "mailto:" + user + "@" + domain;
  }
</script>
