---
import { BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { title, subtitle, description, pubDate, updatedDate, heroImage, badge } =
  Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
import { Image } from "@astrojs/image/components";

const pageTitle = `${title} ${subtitle}`;

---

<BaseLayout title={pageTitle} description={description} image={heroImage}>
  <main class="md:flex md:justify-center">
    <article class="prose max-w-[750px] prose-img:mx-auto">
      {
        heroImage && (
        <Image
            aspectRatio={"16:9"}
            width={750}
            height={422}
            format="webp"
            src={heroImage}
            alt={title}
            class="w-full mb-6"
          />
        )
      }
      <h1 class="title my-2 text-3xl text-yellow-200 font-bold">{title}<span class="text-xl">&nbsp;&nbsp;{subtitle}</span></h1>
      {pubDate && <time class="text-green-200">{displayDate}</time>}
      <br class="border-green-800" />
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
