---
import { BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const { postTitle, subtitle, description, pubDate, updatedDate, heroImage, badge } =
  Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
import { Image } from "astro:assets";
import Icon from "heroicons-astro/Heroicon.astro";

const pageTitle = `${postTitle} ${subtitle}`;

---

<BaseLayout className="w-full pb-10 min-h-screen" title={pageTitle} description={description} image={heroImage}>
  <main class="w-full mx-auto max-w-[960px] bg-primary-700">
    {
      heroImage && (
      <Image
          transition:name="hero"
          width={750}
          height={422}
          format="webp"
          src={heroImage}
          alt={postTitle}
          class="w-full mb-6"
          loading="eager"
        />
      )
    }
<a href="/" class="flex pb-5 pl-4 text-foreground hover:underline">
  <Icon iconCode="home" iconStyle="outline" customClasses="h-5 w-5 m-1 self-center" />
  <span class="self-center">Home</span>
</a>
    <article class="prose max-w-[750px] mx-auto pb-10 px-4 prose-img:mx-auto">
      <h1 class="title my-2 text-3xl text-accent-foreground font-bold">{postTitle}<span class="text-xl">&nbsp;&nbsp;{subtitle}</span></h1>
      {pubDate && <time class="text-primary-foreground">{displayDate}</time>}
      <br class="border-base-800" />
      {badge && <div class="badge badge-secondary my-1">{badge}</div>}
      {
        updatedDate && (
          <div>
            {" "}
            Last updated on <time>{updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
